{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "es5",
	"printWidth": 100,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss",
		"@ianvs/prettier-plugin-sort-imports"
	],
	"tailwindStylesheet": "./src/app.css",
	"tailwindPreserveDuplicates": true,
	"importOrder": [
		"<TYPES>",
		"",
		"<BUILTIN_MODULES>",
		"<THIRD_PARTY_MODULES>",
		"",
		"^\\$app(/.*)$",
		"",
		"^\\@app(/.*)$",
		"",
		"^\\$",
		"",
		"^\\@(/.*)$",
		"",
		"^[.]"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
