@import "tailwindcss";

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--border-color-base, currentColor);
	}

	:root {
		block-size: 100%;
		-webkit-tap-highlight-color: transparent; /* remove tap highlight on mobile */

		color: var(--color-gray-100);
		background-color: var(--color-gray-950);

		font-synthesis: none;
		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		/* @media (prefers-reduced-motion: no-preference) { */
		/* 	scroll-behavior: smooth; */
		/* } */
	}

	/* Hide scrollbar for Chrome, Safari and Opera */
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}

	/* Hide scrollbar for IE, Edge and Firefox */
	.no-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
	}
}

@theme {
	--font-sans: "Saira", "system-ui", "sans-serif";
	--font-head: "Chakra Petch", "system-ui", "sans-serif";

	--text-xs: 0.75rem;
	--text-xs--line-height: 1.125rem;

	--text-sm: 0.875rem;
	--text-sm--line-height: 1.25rem;

	--text-md: 1rem;
	--text-md--line-height: 1.6rem;

	--text-lg: 1.125rem;
	--text-lg--line-height: 1.75rem;

	--text-xl: 1.25rem;
	--text-xl--line-height: 1.875rem;

	--text-2xl: 1.5rem;
	--text-2xl--line-height: 2rem;

	--text-3xl: 1.875rem;
	--text-3xl--line-height: 2.375rem;

	--text-4xl: 2.25rem;
	--text-4xl--line-height: 2.75rem;
	--text-4xl--letter-spacing: -1%;

	--text-5xl: 3rem;
	--text-5xl--line-height: 3.75rem;
	--text-5xl--letter-spacing: -1%;

	--text-6xl: 3.75rem;
	--text-6xl--line-height: 4rem;
	--text-6xl--letter-spacing: -1%;

	--text-7xl: 4.5rem;
	--text-7xl--line-height: 5.625rem;
	--text-7xl--letter-spacing: -2%;

	--color-gray-50: hsl(210 12% 98%);
	--color-gray-100: hsl(212 11.5% 95%);
	--color-gray-200: hsl(215 10% 88%);
	--color-gray-300: hsl(218 10% 75%);
	--color-gray-400: hsl(222 9% 67%);
	--color-gray-500: hsl(225 9% 52%);
	--color-gray-600: hsl(228 8% 38%);
	--color-gray-700: hsl(232 9% 25%);
	--color-gray-800: hsl(235 9% 15%);
	--color-gray-900: hsl(238 10% 7.5%);
	--color-gray-950: hsl(240 12% 5%);

	/* Surface Tokens  */
	--color-surface-sunken: var(--color-black);
	--color-surface: var(--color-gray-950);
	--color-surface-raised: var(--color-gray-900);
	--color-surface-overlay: var(--color-gray-950);

	--color-surface-sunken-hover: var(--color-gray-900);
	--color-surface-hover: var(--color-gray-800);
	--color-surface-raised-hover: var(--color-gray-700);
	--color-surface-overlay-hover: var(--color-gray-900);

	/* Text Colors */
	--text-color-primary: var(--color-gray-100);
	--text-color-secondary: var(--color-gray-200);
	--text-color-tertiary: var(--color-gray-300);
	--text-color-quaternary: var(--color-gray-500);
	--text-color-disabled: var(--color-gray-600);

	--text-color-placeholder: var(--color-gray-500);
	--text-color-link: var(--color-blue-500);
	--text-color-inverse: var(--color-white);

	/* Border Colors */
	--border-color-weak: var(--color-gray-900);
	--border-color-base: var(--color-gray-800);
	--border-color-strong: color-mix(in hsl, var(--color-gray-700), transparent 10%);

	--color-ring: var(--color-gray-400);

	--radius: 0.5rem;
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--animate-accordion-down: accordion-down 0.2s ease-out;
	--animate-accordion-up: accordion-up 0.2s ease-out;
	--animate-caret-blink: caret-blink 1.25s ease-out infinite;

	/* Easing functions */
	--linear: cubic-bezier(0.25, 0.25, 0.75, 0.75);
	--ease: cubic-bezier(0.25, 0.1, 0.25, 1);
	--ease-in: cubic-bezier(0.42, 0, 1, 1);
	--ease-out: cubic-bezier(0, 0, 0.58, 1);
	--ease-in-out: cubic-bezier(0.42, 0, 0.58, 1);

	/* Ease in curves */
	--ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
	--ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
	--ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	--ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
	--ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
	--ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

	/* ease out curves */
	--ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
	--ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
	--ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
	--ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
	--ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
	--ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

	/* ease in out curves */
	--ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
	--ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
	--ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
	--ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
	--ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
	--ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
	--ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

	/* ease bounce curves */
	--ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
	--ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@keyframes accordion-down {
	from {
		height: 0;
	}
	to {
		height: var(--bits-accordion-content-height);
	}
}

@keyframes accordion-up {
	from {
		height: var(--bits-accordion-content-height);
	}
	to {
		height: 0;
	}
}

@keyframes caret-blink {
	0%,
	70%,
	100% {
		opacity: 1;
	}
	20%,
	50% {
		opacity: 0;
	}
}

@utility h-dvh {
	height: 100vh;
	height: 100dvh;
}

@utility debug {
	outline: 1px solid red;
}

@import "./animate.css";
@import "./typography.css";
